<div style="display:flex;">
    <div class="contact">
              <h1 class="col-xs-3">
                project °:
              </h1>
              <h1 class="col-xs-9">
                {{repportdetail.id_project}}
              </h1>
              <h1 class="col-xs-3">
                subproject°
              </h1>
              <h1 class="col-xs-9">
                {{repportdetail.id_sub_projects}}
              </h1>
              <h1 class="col-xs-3">
                idattolier
              </h1>
              <h1 class="col-xs-3">
                {{repportdetail.id_worker}}
              </h1>
              <h1 class="col-xs-3">
                {{repportdetail.id_woreker}}
              </h1>

              <h1 class="col-xs-9">
                written in
              </h1>
              <h1 class="col-xs-3">
                {{repportdetail.written}}
              </h1>
      </div>
      <div class="col-lg-8 col-md-7 col-xs-12">
        <div class="">
          <h1>{{repportdetail.title}}</h1>
          <h1>{{repportdetail.type}}</h1>

        </div >
        <p class="description">{{repportdetail.des}}</p>
      </div>

            
  </div>
