<link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
<div class="container bootstrap snippets bootdey">
    <section id="contact" class="gray-bg padding-top-bottom">
    	<div class="container bootstrap snippets bootdey">
            <div class="row">
				<form #f1="ngForm" [formGroup]="f" id="Highlighted-form" class="col-sm-offset-3" action="contact.php" method="post" novalidate="">
					
					<div class="form-group">
					  <label class="control-label" for="contact-name">Name</label>
					  <div class="controls">
						<input formControlName="name" placeholder="nom du projet" class="form-control requiredField Highlighted-label" data-new-placeholder="Your name" type="text" data-error-empty="Please enter your name">
						<i class="fa fa-user"></i>
					  </div>
					</div>
                    <div class="form-group">
                        <label class="control-label" for="contact-name">Name</label>
                        <div class="controls">
                          <input formControlName="id_worker" name="contactName" placeholder="workerID" class="form-control requiredField Highlighted-label" data-new-placeholder="Your name" type="text" data-error-empty="Please enter your name">
                          <i class="fa fa-user"></i>
                        </div>
                      </div>
                      
					
					<div class="form-group">
					  <label class="control-label" for="contact-mail">workerID</label>
					  <div class=" controls">
						<input formControlName="deadline" class="form-control requiredField Highlighted-label" data-new-placeholder="Your email" type="date" data-error-empty="Please enter your email" data-error-invalid="Invalid email address">
						<i class="fa fa-envelope"></i>
					  </div>
					</div><!-- End email input -->
					<div class="form-group">
					  <label class="control-label" for="contact-message">DESCRIPTION</label>
						<div class="controls">
							<textarea formControlName="description" name="comments" placeholder="petit description du sous projet" class="form-control requiredField Highlighted-label" data-new-placeholder="Your message" rows="6" data-error-empty="Please enter your message"></textarea>
							<i class="fa fa-comment"></i>
						</div>
					</div><!-- End textarea -->
					<p><button name="submit" type="submit" class="btn btn-info btn-block" data-error-message="Error!" routerLink="../"  ><i class="fa fa-location-arrow"></i>annuler</button>
						<button name="submit" type="submit" class="btn btn-info btn-block" (click)="addsub(f1)" data-error-message="Error!" data-sending-message="Sending..." data-ok-message="Message Sent"><i class="fa fa-location-arrow"></i>ajouter</button></p>

					<input type="hidden" name="submitted" id="submitted" value="true">	
				</form><!-- End Highlighted-form -->
			</div>	
		</div>	
	</section>
    </div>                    