
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">

<!------ Include the above in your HEAD tag ---------->

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP" crossorigin="anonymous">

<!--Coded with love by Mutiullah Samim-->
<div class="xy  ">
	<div class="container mt-5">
		<div class="d-flex justify-content-center h-100">
			<div class="user_card ">
				<div class="d-flex justify-content-center">
					<div class="brand_logo_container ">
						<img src="https://c8.alamy.com/compfr/j0ywm7/stupide-stupide-stupide-stupide-bete-stupide-personne-symbolise-par-une-tete-avec-un-gros-trou-vide-en-forme-de-cerveau-illustration-isole-j0ywm7.jpg" class="brand_logo bg-info" alt="Logo">
					</div>
				</div>
				<div class="d-flex justify-content-center form_container">
					<form #f1="ngForm" [formGroup]="f">
						<div class="input-group mb-5">
							<div class="input-group-append">
								<span class="input-group-text bg-info"><i class="fas fa-user"></i></span>
							</div>
							<input type="text" name="" class="form-control input_user" formControlName="user"  placeholder="username">
							<div *ngIf="f.get('user')?.errors?.['unauthorized']" class="alert">
								user not authorized
							</div>
							<div *ngIf="f.get('user')?.errors?.['userNOTFound']" class="alert">
								user not found
							</div>
							<div *ngIf="f.get('user')?.errors?.['serveur']" class="alert">
								server not responding
							</div>
						</div>
						<div class="input-group mb-5">
							<div>
							<div class="input-group-append">
								<span class="input-group-text bg-info"><i class="fas fa-key"></i></span>
								<input type="password" name="" class="form-control input_pass" minlength="8" formControlName="password" placeholder="password">
							</div>
							
							
						</div>
							<div *ngIf="f.controls['password'].invalid && (f.controls['password'].dirty || f.controls['password'].touched)" class="alert">
								<div *ngIf="f.controls['password'].errors">
								Please enter username
							  </div>
							</div>
						</div>
						<div class="form-group">
							<div class="custom-control custom-checkbox">
								<input type="checkbox" class="custom-control-input" >
								<label class="custom-control-label" for="customControlInline">Remember me</label>
							</div>
						</div>
							<div class="d-flex justify-content-center mt-3 login_container">
				 	<button type="submit" name="button" class="btn login_btn bg-info" (click)="check(f1)" [routerLink]="['']" >Login</button>
				   </div>
					</form>
				</div>

				<div class="mt-4">
					<div class="d-flex justify-content-center links">
						Don't have an account? <a href="#" class="ml-2"  >Sign Up</a>
					</div>
					<div class="d-flex justify-content-center links">
						<a href="#">Forgot your password?</a>
					</div>
				</div>
			</div>
		</div>
	</div>

